/Activities/Hello-World/nbproject/private/
/Activities/João-Augusto-do-Nascimento_Lp1_1bim_AvaliacaoA/nbproject/private/
/Activities/João-Augusto-do-Nascimento_Lp1_1bim_AvaliacaoB/nbproject/private/
/Activities/João-Augusto-do-Nascimento_Lp1_2bim_AvaliacaoA/nbproject/private/
/Activities/João-Augusto-do-Nascimento_Lp1_2bim_AvaliacaoB/nbproject/private/
/Activities/LP-1_Projeto-03/nbproject/private/
/Activities/LP-1_Projeto-04/nbproject/private/
/Activities/LP-1_Projeto-05_1/nbproject/private/
/Activities/LP-1_Projeto-06/nbproject/private/
/Activities/LP-1_Projeto-07/nbproject/private/
/Activities/LP-1_Projeto-08/nbproject/private/
/Activities/LP-1_Projeto-09/nbproject/private/
/Activities/LP-1_Projeto-10/nbproject/private/
/Activities/LP-1_Projeto-11/nbproject/private/
/Activities/LP-1_Projeto-12/nbproject/private/
/Activities/LP-1_Projeto-13/nbproject/private/
/Activities/LP-1_Projeto-15/nbproject/private/
/Activities/LP-1_Projeto-15_1/nbproject/private/
/Activities/LP-1_Projeto-16/nbproject/private/
/Activities/LP-1_Projeto-17/nbproject/private/
/Activities/LP-1_Projeto-18/nbproject/private/
/Activities/LP-1_Projeto-19/nbproject/private/
/Activities/LP-1_Projeto-Base/nbproject/private/
/Activities/LP-1_Projeto02/nbproject/private/
/Activities/LP1-Projeto01/nbproject/private/