/Activities/Hello-World/nbproject/private/
/Activities/João-Augusto-do-Nascimento_Lp1_1bim_AvaliacaoA/nbproject/private/
/Activities/João-Augusto-do-Nascimento_Lp1_1bim_AvaliacaoB/nbproject/private/
/Activities/João-Augusto-do-Nascimento_Lp1_2bim_AvaliacaoA/nbproject/private/
/Activities/João-Augusto-do-Nascimento_Lp1_2bim_AvaliacaoB/nbproject/private/
/Activities/LP-1_Projeto-03/nbproject/private/
/Activities/LP-1_Projeto-04/nbproject/private/
/Activities/LP-1_Projeto-05_1/nbproject/private/
/Activities/LP-1_Projeto-06/nbproject/private/
/Activities/LP-1_Projeto-07/nbproject/private/
/Activities/LP-1_Projeto-08/nbproject/private/
/Activities/LP-1_Projeto-09/nbproject/private/
/Activities/LP-1_Projeto-10/nbproject/private/
/Activities/LP-1_Projeto-11/nbproject/private/
/Activities/LP-1_Projeto-12/nbproject/private/
/Activities/LP-1_Projeto-13/nbproject/private/
/Activities/LP-1_Projeto-15/nbproject/private/
/Activities/LP-1_Projeto-15_1/nbproject/private/
/Activities/LP-1_Projeto-16/nbproject/private/
/Activities/LP-1_Projeto-17/nbproject/private/
/Activities/LP-1_Projeto-18/nbproject/private/
/Activities/LP-1_Projeto-19/nbproject/private/
/Activities/LP-1_Projeto-Base/nbproject/private/
/Activities/LP-1_Projeto02/nbproject/private/
/Activities/LP1-Projeto01/nbproject/private/
/Activities/JoaoAugustodoNascimento_LP1_3bim/nbproject/private/
/Activities/JoaoAugustodoNascimento_LP1_4bim/nbproject/private/
/Activities/Hello-World/build/
/Activities/Hello-World/dist/
/Activities/JoaoAugustodoNascimento_LP1_1bim_AvaliacaoA/build/
/Activities/JoaoAugustodoNascimento_LP1_1bim_AvaliacaoA/dist/
/Activities/JoaoAugustodoNascimento_LP1_1bim_AvaliacaoB/build/
/Activities/JoaoAugustodoNascimento_LP1_2bim_AvaliacaoA/build/
/Activities/JoaoAugustodoNascimento_LP1_1bim_AvaliacaoB/dist/
/Activities/JoaoAugustodoNascimento_LP1_2bim_AvaliacaoA/dist/
/Activities/JoaoAugustodoNascimento_LP1_2bim_AvaliacaoB/build/
/Activities/JoaoAugustodoNascimento_LP1_3bim/build/
/Activities/JoaoAugustodoNascimento_LP1_3bim/dist/
/Activities/JoaoAugustodoNascimento_LP1_4bim/build/
/Activities/JoaoAugustodoNascimento_LP1_4bim/dist/
/Activities/LP-1_Projeto-01/build/
/Activities/LP-1_Projeto-01/dist/
/Activities/LP-1_Projeto-02/build/
/Activities/LP-1_Projeto-02/dist/
/Activities/LP-1_Projeto-03/build/
/Activities/LP-1_Projeto-03/dist/
/Activities/LP-1_Projeto-05_1/build/
/Activities/LP-1_Projeto-05_1/dist/
/Activities/LP-1_Projeto-04/build/
/Activities/LP-1_Projeto-04/dist/
/Activities/LP-1_Projeto-06/build/
/Activities/LP-1_Projeto-06/dist/
/Activities/LP-1_Projeto-07/build/
/Activities/LP-1_Projeto-07/dist/
/Activities/LP-1_Projeto-08/build/
/Activities/LP-1_Projeto-08/dist/
/Activities/LP-1_Projeto-09/build/
/Activities/LP-1_Projeto-09/dist/
/Activities/LP-1_Projeto-10/build/
/Activities/LP-1_Projeto-10/dist/
/Activities/LP-1_Projeto-11/build/
/Activities/LP-1_Projeto-11/dist/
/Activities/LP-1_Projeto-12/build/
/Activities/LP-1_Projeto-13/build/
/Activities/LP-1_Projeto-12/dist/
/Activities/LP-1_Projeto-13/dist/
/Activities/LP-1_Projeto-14/dist/
/Activities/LP-1_Projeto-15/build/
/Activities/LP-1_Projeto-15/dist/
/Activities/LP-1_Projeto-15_1/build/
/Activities/LP-1_Projeto-15_1/dist/
/Activities/LP-1_Projeto-16/build/
/Activities/LP-1_Projeto-16/dist/
/Activities/LP-1_Projeto-17/build/
/Activities/LP-1_Projeto-17/dist/
/Activities/LP-1_Projeto-18/build/
/Activities/LP-1_Projeto-18/dist/
/Activities/LP-1_Projeto-19/build/
/Activities/LP-1_Projeto-Base/build/
/Activities/LP-1_Projeto-19/dist/
/Activities/LP-1_Projeto-Base/dist/